name: Build and Test

on: [push, pull_request]

env:
  DB_NAME: OrderBot # TODO: Pass this into both db.sql and tests
  # CONNECTION_STRING: 

jobs:
  build-and-test:
    name: build-and-test-${{matrix.os}}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest] # Was ubuntu-20.04. No MSSQL available for 22 yet
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Setup DB
      uses: rails-sqlserver/setup-mssql@v1 # Was ankane/setup-sqlserver@v1
      with:
        components: sqlcmd,sqlengine
        force-encryption: true
        sa-password: "YourStrong!Passw0rd"
        version: 2022    
    - name: Create DB
      run: sqlcmd -U SA -P 'YourStrong!Passw0rd' -e -i deploy/db.sql
    - name: Create DB Tables
      run: sqlcmd -U SA -P 'YourStrong!Passw0rd' -d ${{ env.DB_NAME }} -e -i deploy/tables.sql
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Test
      run: dotnet test --no-restore --verbosity normal
